.card{
  border: .1rem solid var(--white-gray);
  border-radius: .7rem;
}

.ant-card-head{
  border-color: var(--white-gray) !important;
}

.ant-tabs-nav::before{
  position: inherit !important;
  border: none !important;
}

.ant-tabs-tab{
  font-weight: 600;
  color: var(--white-gray) !important;
}

.ant-tabs-tab-active .ant-tabs-tab-btn{
  color: var(--dark-green) !important;
}

.ant-tabs-ink-bar{
  background-color: var(--dark-green) !important;
}

.simple-card{
  font-size: 1.4rem;
  gap: 1.4rem;
}

.p-none > .ant-card-body{
  padding: 0 !important;
  height: calc(100% - 4.5rem);
  overflow: auto;
}